bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.DS_Store
.vs/Workshop_repo_1/FileContentIndex/1d36dd24-2022-40d4-a266-b13c921143d7.vsidx
.vs/Workshop_repo_1/DesignTimeBuild/.dtbcache.v2
.vs/Workshop_repo_1/FileContentIndex/a5d6be01-9830-414a-9f97-8cb578c066f4.vsidx
